body {
    background-color: currentColor;
}
#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #333;
    background-color: #333;
    color: #fff;
    height: auto;
}

#menu a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #2a6496;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#hover-link a:hover {
    background-color: #2a6496;
    color: #ddd;
}

#navbar-search {
    width: 300px;
}

.nav-envelope {
    font-size: 35px;
    margin-top: -9px;
}

#content {
    background-color: #fff;
}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    height: 40px;
}

#footer p {
    margin-top: 10px;
}

#sign-in-button {
    padding-right: 20px;
    background-color: #333;
    color: #fff;
    height: auto;
    border-color: #333;
}
.home-text {
    text-align: center;
}

.error-message {
    color: #c12e2a;
}

.nav-stacked > li {
    display: table-cell;
    padding: 0px 16px;
}

.spacing {
    padding: 15px;
}

input {
    margin-right: 10px;
}

table {
    width:90%;
    min-width: 50%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}

.dropdown-position {
    padding-top: 24px;
    font-size: 18px;
}

.dropdown-position ,.link-text {
  color: black;
}

.search-box {
    padding-top: 20px;
}

.search-icon {
    margin-top: -35px;
}

.start-topic {
    padding-top: 20px;
}
.envelope {
    padding: 14px 16px;
}

.envelope button{
    background-color: darkgray;
    border: none;
}

.forum-top-bar {
    background-color: darkgrey;
}

.post-message p {
    max-width: 85%;
    text-align: justify;
}

.sign-in-message{
    font-weight: bolder;
    color: floralwhite;
}

#categories, #topics {
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 50px;
}

#stats-position {
    padding-top: 30px;
    padding-bottom: 10px;
    border-left-style: outset;
    margin-top: 15px;
}

.clearfix {
    padding-bottom: 20px;
}

.forum-layout {
    border-style: outset;
    border-radius: 10px;
}

#post-layout {
    border-left-style: inset;
}

#post-layout h4 {
    max-width: 90%;
    text-align: justify;
}

.pagination-wrapper {
    padding-top: 10px;
}

#reply-layout {
    text-align: right;
    background-color: aliceblue;
    border-right-style: groove;
    border-radius: 10px;
    margin-top: 78px;
}

#user-name-position {
    margin-top: 30px;
}

#add-to-watchlist-button {
    margin-top: 15px;
}

#watchlist-layout {
    padding-bottom: 20px;
}

#watchlist-user {
    border-left-style: outset;
}
.watchlist-text {
    text-align: justify;
}

#checkbox-position, #del-checkbox-position {
    margin-top: 30px;
    margin-right: 10px;
}

#del-checkbox-position {
    margin-top: 13px;
}

#msg-confirmation h4 {
    color: #c12e2a;
    margin-top: 18px;
}
#inbox-header {
    padding-top: 20px;
    padding-bottom: 6px;
}

.header-text {
    border-left-style: outset;
}

.text-message-bottom {
    border-bottom-style: inset;
}

.bottom-message {
    border-bottom-style: groove;
    padding-bottom: 20px;
}

.reply-text textarea{
    width: 98%;
    margin-bottom: 10px;
    width: 98%;
    border-radius: 10px;
}

.replier-username {
    margin-top: 18px;
}

.mail-icon {
    width: 54px;
}

.new-search {
    width: 20px;
}

.text-message {
    max-width: 80%;
    text-align: justify;
}

.user-layout {
    border-left-style: inset;
}

.suggestion-option {
    background-color: rgba(0, 1, 25, 0.05);
    color: white;
 }

.suggestion-layout {
    padding-top: 13px;
}

.suggestion-layout p:hover {
    background-color: #428bca;
    color: white;
    cursor: pointer;
}

#hint-text {
    width: 305px;
    border-radius: 6px;
    height: 40px;
    font-size: 17px;
    text-align: center;
}

#resultsSelectionBox {
    position: absolute;
    z-index: 9999;
}

.user-chat-list {
    max-height: 715px;
    overflow: auto;
    border-left-style: outset;
    border-bottom-style: outset;
}

.user-chat-list p {
    padding-left: 10px;
    background-color: white;
}

.user-chat-list p:hover {
    background-color: #428bca;
    color: white;
    cursor: pointer;
}


<!-- Mobile Medias -->
@media all and (max-width: 770px) {
    .col-xs-6 {
        width: 100%;
    }

    .nav-stacked > li {
        display: block;
        padding: 0 0;
    }

    #stats-position {
        padding-top: 18px;
    }
}
