#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #333;
    /*background-color: #f00;*/
    background-color: #333;
    color: #fff;
    /*height: 400px;*/
    height: auto;
}

#menu a {
    /*background-color: #f00;*/
    background-color: #333;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #2a6496;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    /*border-top: solid 6px #A19595;*/

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
}

#sign-in-button {
    padding-right: 20px;
    background-color: #333;
    color: #fff;
    height: auto;
    border-color: #333;
}

.error-message {
    color: #c12e2a;
}

.navbar .navbar-header {
    float: none;
}
.navbar .navbar-toggle {
    display: block;
}
.navbar .navbar-collapse.collapse {
    display: none!important;
}
.navbar .navbar-nav {
    float: none!important;
}
.navbar .navbar-nav > li {
    float: none;
    display: table-cell!important;
}
.navbar .navbar-collapse.collapse.in {
    display: block !important;
}

.navbar-brand a:hover {
    text-decoration:none;
}

.nav-stacked > li {
    display: table-cell;
    padding: 0px 16px;
}

.spacing {
    padding: 15px;
}

input {
    margin-right: 10px;
}

table {
    width:90%;
    min-width: 50%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}

.dropdown-position {
    padding-top: 24px;
    font-size: 18px;
}

.dropdown-position ,.link-text {
  color: black;
}

.search-box {
    padding-top: 20px;
}

.search-icon {
    margin-top: -35px;
}

.start-topic {
    padding-top: 20px;
}
.envelope {
    padding: 14px 16px;
}

.envelope button{
    background-color: darkgray;
    border: none;
}

.forum-top-bar {
    background-color: darkgrey;
}

.sign-in-message{
    font-weight: bolder;
    color: floralwhite;
}

#categories, #topics {
    padding-top: 5px;
    margin-top: 10px;
}

#stats-position {
    padding-top: 30px;
    padding-bottom: 10px;
    border-left-style: outset;
    margin-top: 15px;
}

.clearfix {
    padding-bottom: 20px;
}

.forum-layout {
    border-style: outset;
    border-radius: 10px;
}

#post-layout {
    border-left-style: inset;
}

#reply-layout {
    text-align: right;
    background-color: aliceblue;
    border-right-style: groove;
    border-radius: 10px;
    margin-top: 78px;
}

#user-name-position {
    margin-top: 30px;
}

#add-to-watchlist-button {
    margin-top: 15px;
}

#watchlist-layout {
    padding-bottom: 20px;
}

#checkbox-position, #del-checkbox-position {
    margin-top: 30px;
    margin-right: 10px;
}

#del-checkbox-position {
    margin-top: 13px;
}

#msg-confirmation h4 {
    color: #c12e2a;
    margin-top: 18px;
}
#inbox-header {
    padding-top: 20px;
    padding-bottom: 6px;
    border-bottom-style: inset;
}

.header-text {
    border-left-style: outset;
}

.text-message-bottom {
    border-bottom-style: inset;
}

.bottom-message {
    border-bottom-style: groove;
    padding-bottom: 20px;
}

.reply-text textarea{
    width: 98%;
    margin-bottom: 10px;
    width: 98%;
    border-radius: 10px;

}

.replier-username {
    margin-top: 18px;
}

.reply-date {
    margin-right: 45px;
}

.mail-icon {
    width: 54px;
}

.new-search {
    width: 20px;
}

.text-message {
    max-width: 80%;
    text-align: justify;
}

<!-- Mobile Medias -->
@media all and (max-width: 770px) {
    .col-xs-6 {
        width: 100%;
    }

    .nav-stacked > li {
        display: block;
        padding: 0 0;
    }

    #stats-position {
        padding-top: 18px;
    }

    /*.delete-msg-button {*/
    /*    margin-left: 0px!important;*/
    /*}*/

}
